01_MorphableModel.mat
bfm_subset(29495).mat
template_data.mat
subject_points
subjects
.idea
mesh_sampling
load.py
sampling_nor.py
shape_nor.py
points_sampling
log
train
pc_sampling
trash
expression
test
train_id
train_exp
BU3DFE
test.obj
test_subdivision (copy).obj
realdata_ver_index1.npy
realpoints_bu3dfe
test.npy
sub0_exp0.npy
sub0_exp0.obj
M0001_AN01AM_F3D.obj
dataset
save_h5.py
evaluate.py
evaluated_file
