01_MorphableModel.mat
bfm_subset(29495).mat
template_data.mat
subject_points
subjects
.idea
mesh_sampling
load.py
sampling_nor.py
shape_nor.py
points_sampling
log
sub0_pred_rand9.obj
sub0_target_rand9.obj
sub0_target_rand50.obj
train
pc_sampling
sub0_pred_rand20.obj
sub0_pred_rand30.obj
sub0_pred_rand30_2.obj
sub0_pred_rand50.obj
sub0_pred_rand50_2.obj
sub0_pred_rand50_3.obj
sub0_pred_rand60.obj
sub0_pred_rand80.obj
sub0_pred_rand500.obj
sub0_target_rand0.obj